__pycache__/
*.pyc
.bin/
template/base/node_modules/
template/base/.pnpm-store/
template/base/apps/mobile/node_modules/
template/base/apps/mobile/.expo/
template/base/apps/mobile/dist/
template/base/apps/web/node_modules/
template/base/apps/web/.svelte-kit/
template/base/apps/web/build/
template/base/packages/api-client/node_modules/
template/base/packages/client-core/node_modules/
template/base/packages/i18n/node_modules/
template/base/tools/eas-cli/node_modules/
