package dto
__DOMAIN_DTO_IMPORTS__

type __DOMAIN_GO_NAME__Item struct {
	ID string `json:"id"`
__DOMAIN_DTO_FIELDS__
}

type __DOMAIN_GO_NAME__Create struct {
__DOMAIN_DTO_FIELDS__
}

type __DOMAIN_GO_NAME__Update struct {
__DOMAIN_DTO_FIELDS__
}
